.confirm-button {
	width: 2.34375rem;
	height: 2.34375rem;
	border-radius: 50%;
	background-color: $orange;
	box-shadow: 2px 3px 0px 0px rgba(0,0,0,0.2);
}

@media only screen and (min-width: 500px) {
	.confirm-button {
		width: 3.125rem;
		height: 3.125rem;
	}
}