.mic-light-holder {
	width: 80px;
	height: 80px;
	background-color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
}

.mic-light {
	position: relative;
	width: 70px;
	height: 70px;
	background-color: $blue;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid $blue;
}

.mic-light:before {
	content: '';
	background: #00dbff;
	width: 60px;
	height: 60px;
	position: absolute;
	border-radius: 55%;
	top: -7px;
	left: -7px;
}

.mic-light:after {
	content: "";
    width: 13px;
    height: 13px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    top: 15px;
    left: 13px;
}