.secondary-display-wrapper {
	color: #fff;
	background-color: $darkGrey;
	padding: 0.703125rem;
	margin-bottom: 1.40625rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7.03125rem;
	flex-wrap: wrap;
	font-size: 0.84375rem;
	line-height: 1.2rem;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.secondary-display-wrapper::-webkit-scrollbar {
	display: none;
}

.statistic-wrapper {
	width: calc(100%/3);
	text-align: center;
}

.height-weight-wrapper {
	width: 50%;
	text-align: center;
}

.type-effect-display {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.type-effect-container {
	width: 50%;
	text-align: center;
	margin-bottom: 0.625rem;
}

.type-effect-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.type-effect {
	width: calc((100% - 4px) / 2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.25rem 0.75rem;
	font-size: 0.6rem;
	border: 1px solid #fff;
	margin: 2px 2px 0 0;
	border-radius: 1.40625rem;
}

.type-effect-heading {
	margin-bottom: 0.4rem;
}

.type-name {
	text-transform: capitalize;
	margin-right: 0.25rem;
}

.type-effect-ability-container {
	width: 100%;
	margin-top: 0.6rem;
	padding-top: 0.6rem;
	border-top: 1px solid #fff;
}

.type-effect-ability-wrapper {
	margin-bottom: 0.4rem;	
	font-size: 0.6rem;
	line-height: 0.8rem;
}

.ability-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.ability-wrapper {
	width: 50%;
	padding: 0.5rem;
}

.ability-name {
	font-weight: bold;
}

.ability-description {
	font-size: 0.6rem;
}

.encounter-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.encounter-header, .encounter-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

@media only screen and (min-width: 500px) {
	.secondary-display-wrapper {
		padding: 0.9375rem;
		margin-bottom: 1.875rem;
		height: 9.375rem;
		font-size: 1.125rem;
	}

	.type-effect {
		font-size: 0.8rem;
	}

	.ability-description {
		font-size: 0.9rem;
	}

	.type-effect-disclaimer {
		font-size: 0.84375rem;
		line-height: 1rem;
	}	
}