.secondary-display-wrapper {
	color: #fff;
	background-color: $darkGrey;
	padding: 0.703125rem;
	margin-bottom: 1.40625rem;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 7.03125rem;
	flex-wrap: wrap;
	font-size: 0.84375rem;
	line-height: 1.2rem;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.secondary-display-wrapper::-webkit-scrollbar {
	display: none;
}

// Statistics
.statistic-wrapper {
	width: calc(100%/3);
	text-align: center;
}


// Height and weight
.height-weight-wrapper {
	width: 50%;
	text-align: center;
}

// Type effects
.type-effect-display {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.type-effect-container {
	width: 50%;
	text-align: center;
	margin-bottom: 0.625rem;
}

.type-effect-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.type-effect {
	width: calc((100% - 4px) / 2);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.25rem 0.5rem;
	font-size: 0.6rem;
	border: 1px solid #fff;
	margin: 2px 2px 0 0;
	border-radius: 1.40625rem;
}

.type-effect-heading {
	margin-bottom: 0.4rem;
}

.type-name {
	text-transform: capitalize;
	margin-right: 0.25rem;
}

.type-effect-ability-container {
	width: 100%;
	margin-top: 0.6rem;
	padding-top: 0.6rem;
	border-top: 1px solid #fff;
}

.type-effect-ability-wrapper {
	margin-bottom: 0.4rem;	
	font-size: 0.6rem;
	line-height: 0.8rem;
}

// Abilities
.ability-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.ability-wrapper {
	width: 50%;
	padding: 0.5rem;
}

.ability-name {
	font-weight: bold;
}

.ability-description {
	font-size: 0.6rem;
}

// Encounters
.encounter-container, .moves-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.encounter-generation, .moves-generation, .moves-header, .moves-method-container, .moves-method-header {
	margin-bottom: 0.8rem;
}

.encounter-version, .moves-row {
	display: flex;
	flex-wrap: wrap;
}

.encounter-header, .moves-header {
	width: 100%;
}

.encounter-version-name, .moves-name-level {
	width: calc(50% - 1rem);
	margin-right: 1rem;
	border-right: 1px solid #fff;
}

.encounter-locations {
	width: 50%;
}

.encounter-header, .encounter-version-name, .encounter-locations, .moves-row {
	margin-bottom: 0.4rem;
}

.encounter-header, .moves-header {
	text-align: center;
}

.no-wild-encounters {
	display: flex;
	justify-content: center;
}

// Evolution chain
.evolution-chain-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 1.40625rem;
}

.evolution-wrapper {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	font-size: 0.8rem;
	margin-bottom: 1rem;
}

.evolution-sprite-wrapper {
	width: 3rem;
	height: 3rem;
}

.evolution-sprite-wrapper img {
	width: 100%;
}

.evolution-details-wrapper {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

// Moves
.moves-method-header {
	font-weight: bold;
}

// Varieties
.varieties-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 1.40625rem;
}

.variety-wrapper {
	display: flex;
	flex-direction: column;
	width: 50%;
	align-items: center;
	margin-bottom: 1rem;
}

.variety-sprite-wrapper {
	width: 4rem;
	height: 4rem;
}

.variety-sprite-wrapper img {
	width: 100%;
}

// Egg groups
.egg-group-container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.egg-group-wrapper {
	display: flex;
	flex-direction: column;
	width: 50%;
	text-align: center;
}

.egg-group-name {
	margin-bottom: 0.5rem;
}

@media only screen and (min-width: 500px) {
	.secondary-display-wrapper {
		padding: 0.9375rem;
		margin-bottom: 1.875rem;
		height: 9.375rem;
		font-size: 1.125rem;
	}

	.type-effect {
		font-size: 0.8rem;
	}

	.ability-description {
		font-size: 0.9rem;
	}

	.type-effect-disclaimer {
		font-size: 0.84375rem;
		line-height: 1rem;
	}

	.evolution-chain-container, .varieties-container {
		padding-bottom: 0.9375rem;
	}

	.evolution-wrapper {
		font-size: 0.9rem;
	}

	.evolution-sprite-wrapper, .variety-sprite-wrapper {
		width: 5rem;
		height: 5rem;
	}	
}