.sprite-container {
	display: flex;
	flex-direction: column;
	background-color: $darkGrey;
	min-height: 13.125rem;
}

.sprite-middle {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.sprite-cycle {
	min-width: 3.75rem;
	display: flex;
	justify-content: center;
	align-items: center;

	&.top {
		min-height: 2.34375rem;
	}

	&.bottom {
		min-height: 2.34375rem;
	}

	&.left {
		flex-direction: column;
	}

	&.right {
		flex-direction: column;
	}
}

.sprite-wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes opacityAnimation {
	from {
		opacity: 0;
	} to {
		opacity: 1;
	}
}

.sprite-wrapper img {
	width: 7.5rem;
	height: 7.5rem;
	animation: opacityAnimation none 2s;
}

.nav-number-text {
	color: #fff;
	margin-top: 0.625rem;
}

@media only screen and (min-width: 500px) {
	.sprite-container {
		min-height: 17.5rem;
	}

	.sprite-cycle {
		min-width: 3.75rem;
	
		&.top {
			min-height: 3.125rem;
		}
	
		&.bottom {
			min-height: 3.125rem;
		}
	}	

	.sprite-wrapper img {
		width: 10rem;
		height: 10rem;
	}
}