// Pokedex Colours
$red: #D72113;
$brightRed: #f44336;
$blue: #368EB6;
$micBlue: #00dbff;
$darkGrey: #2A2B26;
$green: #164614;
$brightGreen: #3dba61;
$orange: #D6920B;
$yellow: #ffe01c;
$offWhite: #CACEB5;